<html>

  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <form action="/api/users" method="post" class="content">
        <h3>Create a New User</h3>
        <p><code>POST /api/users</code></p>
        <input id="uname" type="text" name="username" placeholder="username" />
        <input type="submit" value="Submit" />
      </form>
      <form id="exercise-form" method="post" class="content">
        <h3>Add exercises</h3>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <input id="uname" type="text" name="username" placeholder="username" />
        <input
          id="desc"
          type="text"
          name="description"
          placeholder="description*"
        />
        <input
          id="dur"
          type="text"
          name="duration"
          placeholder="duration* (mins.)"
        />
        <input
          id="dat"
          type="text"
          name="date"
          placeholder="date (yyyy-mm-dd)"
        />
        <input type="submit" value="Submit" />
      </form>
      <form id="log-form" method="get" class="content">
        <h3>Get User's exercise log</h3>
        <p>
          <code>GET /api/users/:username/logs?[&amp;from][&amp;to][&amp;limit]</code>
        </p>
        <input
          id="getuname"
          type="text"
          name="username"
          placeholder="username"
        />
        <input
          id="from"
          name="from"
          type="text"
          placeholder="from (yyyy-mm-dd)"
        />
        <input id="to" name="to" type="text" placeholder="to (yyyy-mm-dd)" />
        <input id="limit" name="limit" type="number" placeholder="limit" />
        <input type="submit" value="Submit" />
      </form>
      <script id="exercise-template" type="text/x0handlebars-template">
        <div id="target">Loading...</div>
      </script>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");
      exerciseForm.addEventListener("submit", () => { const userName =
      document.getElementById("uname").value; exerciseForm.action =
      `/api/users/username/exercises`; exerciseForm.submit(); }); const logForm
      = document.getElementById("log-form"); logForm.addEventListener("submit",
      () => { const userName = document.getElementById("getuname").value;
      logForm.action = `/api/users/${userName}/logs`; logForm.submit(); });
    </script>
  </body>
</html>